<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:int="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/integration
        http://www.springframework.org/schema/integration/spring-integration.xsd">
	
	
	<context:component-scan base-package="com.rythmos" /> 
	
	
	
	<int:channel id="requestChannel"></int:channel>

	<int:channel id="replyChannel"></int:channel>
	
	<int:transformer input-channel="requestChannel" output-channel="replyChannel" ref="upperCaseTransformer" />
	<bean id="upperCaseTransformer" class="com.rythmos.UpperCaseTransformer"/>
	
	 <!-- <bean id="printingClass" class="com.rythmos.PrintingClass"/>  -->
	
	<int:gateway  id="xyzService"
		service-interface="com.rythmos.UpperCaseService"
		default-request-channel="requestChannel" default-reply-channel="replyChannel"/>

	<!-- <int:service-activator input-channel="replyChannel" ref="printingClass" ></int:service-activator> -->




</beans>





